body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* background:
                linear-gradient(27deg, #e9e9e9 5px, transparent 5px) 0 5px,
                linear-gradient(207deg, #e6e6e6 5px, transparent 5px) 10px 0px,
                linear-gradient(27deg, rgb(223, 222, 222) 5px, transparent 5px) 0px 10px,
                linear-gradient(207deg, rgb(219, 219, 219) 5px, transparent 5px) 10px 5px,
                linear-gradient(90deg, #eeeeee 10px, transparent 10px),
                linear-gradient(#e7e5e5 25%, #e2e1e1 25%, #e4e4e4 50%, transparent 50%, transparent 75%, #ebe7e7 75%, #ffffff);
                background-color: #f8f5f5;
                background-size: 20px 20px; */
                /* background:
                radial-gradient(purple 3px, transparent 4px),
                radial-gradient(purple 3px, transparent 4px),
                linear-gradient(#fff 4px, transparent 0),
                linear-gradient(45deg, transparent 74px, transparent 75px, orange 75px, orange 76px, transparent 77px, transparent 109px),
                linear-gradient(-45deg, transparent 75px, transparent 76px, orange 76px, orange 77px, transparent 78px, transparent 109px),
                #fff;
                background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
                background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;             */
                background-color: #ffeeff
}